body {
  background-color: #f1f1f1;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
p, a, li, small, strong, h2 {
  color: #333333;
}
@font-face {
  font-family: Muller;
  src: url('/fonts/MullerBold.woff');
}
@font-face {
  font-family: Muller;
  src: url('/fonts/MullerRegular.woff');
}
@font-face {
  font-family: Muller;
  src: url('/fonts/MullerBold.woff2');
}
@font-face {
  font-family: Muller;
  src: url('/fonts/MullerRegular.woff2');
}
@font-face {
  font-family: Muller;
  src: url('/fonts/MullerLight.woff');
}
@font-face {
  font-family: Muller;
  src: url('/fonts/MullerLight.woff2');
}
@font-face {
  font-family: Muller;
  src: url('/fonts/MullerMedium.woff');
}
@font-face {
  font-family: Muller;
  src: url('/fonts/MullerMedium.woff2');
}
html {
  font-family: Muller;
}

/**header------------------------------------------------------------------*/
.header {
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header-container {
  height: 180px;
  width: 1200px;
}
.header-top {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header-logo {
  margin-right: 25px;
}
.header-link-phone {
  margin-right: auto;
  font-size: 22px;
  font-weight: 600;
  color: #666666;
}
.header-link-account {
  font-size: 16px;
  color: #cc9933;
}
.header-bottom {
}
.header-bottom-container {
  display: flex;
  height: 70px;
  padding: 25px 20px 25px 20px;
  background-color: #fff;
  border-radius: 12px;
}
.nav {
}
.nav-list {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav-item {
  font-size: 16px;
  font-weight: 400;
  margin-right: 45px;
}
.nav-item:nth-child(6) {
  margin-right: 135px;
}
.nav-link {
}
.nav-item-search {
  
}
.nav-search {
  border: none;
  width: 350px;
  border-radius: 15px;
  font-size: 14px;
  padding: 15px 15px;
  background-color: #f1f1f1;
}
/**header------------------------------------------------------------------*/

/*!main------------------------------------------------------------------*/
.main {
}
/*!main------------------------------------------------------------------*/

/**section-booking------------------------------------------------------------------*/
.section-booking {
}
.booking-container {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px;
}
.section-booking-list {
}
.heading {
  font-size: 40px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 25px;
  margin-top: 0;
  margin-left: 40px;
}
.section-booking-item {
  margin-right: 50px;
}
.section-booking-item:not(:last-child) {
  margin-bottom: 20px;
}
.section-booking-form {
  border: none;
  width: 520px;
  border-radius: 12px;
  padding: 25px 20px;
}
.section-booking-search {
}
.section-booking-btn {
  display: inline-block;
  padding: 30px 30px;
  background-color: #cc9933;
  color: #fff;
  border-radius: 12px;
  font-size: 16px;
  margin-right: 30px;
}
.section-booking-discription {
  color: #999999;
  font-size: 16px;
}
.section-booking-discription-color {
  color: #cc9933;
}
.section-booking-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('/img/photo/apartment0.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 595px;
}
.booking-right-discription {
  padding: 40px 40px;
}
.section-booking-img {
}
.section-booking-heading {
  font-size: 66px;
  color: #fff;
  width: 320px;
  font-weight: 900;
}
.section-booking-price {
  font-size: 35px;
  color: #fff;
  opacity: 0.5;
}
.section-booking-link {
}
.section-booking-more {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #cc9933;
  margin-left: 40px;
}
.arrow {
  margin-left: 5px;
}
.cls-1 {
}
/**section-booking------------------------------------------------------------------*/

/**section-about------------------------------------------------------------------*/
.section-about {
}
.about-container {
  padding-top: 70px;
  padding-bottom: 70px;
}
.section-about-discription {
  font-size: 16px;
  color: #666666;
  letter-spacing: normal;
  line-height: 2;
  max-width: 880px;
  margin-left: 40px;
}
/**section-about------------------------------------------------------------------*/

/**section-services------------------------------------------------------------------*/
.section-services {
  margin-bottom: -23px;
}
.services-sontainer {
  padding-top: 70px;
  padding-bottom: 70px;
}
.section-services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-services-item {
  background-color: #fff;
  border-radius: 12px;
  min-height: 325px;
  width: 570px;
  margin-bottom: 23px;
}
.section-services-img {
}
.section-services-bottom {
  padding: 30px 30px;
}
.section-services-link {
  display: flex;
  align-items: center;
  color: #cc9933;
  font-size: 22px;
  font-weight: 500;
}
.section-hotels-link-arrow {
}
.section-services-discription {
  line-height: 2;
  width:  400px;
}
/**section-services------------------------------------------------------------------*/

/**section-benefits------------------------------------------------------------------*/
.section-benefits {
  margin-bottom: -25px;
}
.benefits-container {
  padding-top: 70px;
  padding-bottom: 70px;
}
.section-benefits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-benefits-item {
  max-width: 275px;
  min-height: 275px;
  background-color: #fff;
  border-radius: 12px;
  padding: 45px 45px;
  line-height: 2;
  font-size: 15px;
  margin-bottom: 25px;
}
.section-benefits-icon {
}
.section-benefit-discription {
  margin: 0;
}
/**section-benefits------------------------------------------------------------------*/

/**section-hotels------------------------------------------------------------------*/
.section-hotels {
  margin-bottom: -25px;
}
.hotels-container {
  padding-top: 70px;
  padding-bottom: 70px;
}
.section-hotels-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-hotels-item {
  width: 370px;
  min-height: 440px;
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 25px;
}
.price-container {
  display: flex;
  justify-content: space-between;
}
.section-hotels-img {
}
.section-hotels-item-proposal {
  padding: 45px 45px;
}
.section-hotels-price {
  font-size: 16px;
}
.section-hotels-sum {
  font-size: 18px;
  font-weight: 600;
}
.hotel-name {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
}
.hotel-location {
  font-size: 16px;
  display: block;
  color: rgb(150, 150, 150);
}
.section-hotels-item-btn {
  display: inline-block;
  border: #cc9933 1px solid;
  border-radius: 12px;
  color: #cc9933;
  padding: 15px 20px 15px 20px;
  margin-top: 20px;
}
.last-item {
  display: flex;
  justify-content: center;
  align-items: end;
  background-image: url('/img/photo/hotelend.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.section-hotels-link {
  padding-bottom: 50px;
  color: #fff;
  font-size: 22px;
  display: flex;
  align-items: center;
}
.section-hotels-link-arrow {
  margin-left: 10px;
}
/**section-hotels------------------------------------------------------------------*/